.cal-container {
  width: 30vw;
  background: navajowhite;
  color: #121212;
  font-size: 18px;
  line-height: 3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

.display {
  text-align: right;
  padding-right: 10%;
  font-weight: bold;
  font-size: 24px;
  grid-area: 1/ 1 / span 1 / span 4;
}

.btn {
  border: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}

.btn:nth-of-type(17) {
  grid-area: 6/1 / span 1 / span 2;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #aaa;
}
